<div class="row-fluid">
  <div class="span6">
    <div class="page-header">
      <h3>Scripts</h3>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Teste</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

