<section class="formulario">
  <h3 class="line-bottom">>>> Selecione abaixo as
    <span class="destaque"><%= Variable.model_name.human.capitalize.pluralize %></span>
    para o <%= Processid.model_name.human.capitalize %></h3>
  <fieldset>
    <legend></legend>

    <div class="row clearfix">
      <input id="processid_id" type="hidden" value="<%= @processid.id %>">
      </input>
      <input id="processid_variables"    type="hidden" value="|" name="variable_ids[]">
      </input>
    </div>

  </fieldset>
</section>
