# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f7a853f644fa75b587041a5e9c8fbb355b558de6978893d11a0d79b5d04c188b05512400dfcd456d60a52fa262c7bd23b51a312a6e513e35ca84eaebb3280df2

  test:
    secret_key_base: a085737a23c3c424e8072006350d65dbc965ddeb96bafa8cac5a0433227e22729f78618f47f4451f1b3a6a2ca52d9683704e92d12c55751c8cb02c7ec8d3da96

  # Do not keep production secrets in the repository,
  # instead read values from the environment.
  production:
    #secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
    secret_key_base: acee20f5eb530e4a6dd58c82fc89455a2539e389a14fca0fc95a8cc9d1f2db0b1734094b235d9014b57928dddafa5b558a0f79fb6d0de1e3e1830c689dafe2c4


