<fieldset>
  <legend>Variáveis</legend>
  <h1>Variáveis</h1>
  <p>
    <% @variables.each do |var| %>
      <%= check_box_tag( "table[variable_list][#{var.id}]", "checked", @table.variables.detect{|v| v == var}) %>
      <%= "#{var.name}"%><br />
    <% end %>
  </p>
</fieldset>
