<section class="formulario">
  <h3 class="line-bottom">>>> Selecione abaixo as
    <span class="destaque"><%= Variable.model_name.human.capitalize.pluralize %></span>
    para a <%= Campaign.model_name.human.capitalize %></h3>
  <fieldset>
    <legend></legend>

    <div class="row clearfix">
      <input id="campaign_id" type="hidden" value="<%= @campaign.id %>">
      </input>
      <input id="variables"   type="hidden" value="|" name="variable_ids[]">
      </input>
    </div>

  </fieldset>
</section>

