<section class="formulario">
  <h3 class="line-bottom">>>> Selecione abaixo os 
    <span class="destaque"><%= OriginField.model_name.human.capitalize.pluralize %></span> 
    para a <%= Variable.model_name.human.capitalize %></h3>
  <fieldset>
    <legend></legend>
    <div class="row clearfix">
      <% @origin_fields.each do |field| %>
        <p class="left" style="font-family: courier new,monospace;">
          <%= check_box_tag( "variable[origin_fields_list][#{field.id}]", "checked", @variable.origin_fields.detect{|o| o == field}) %>
          <%= truncate("#{field.field_name.ljust(30,'.').gsub(' ','.')}", length: 30) %>
        </p>
      <% end %>
    </div>
  </fieldset>
</section>
