<div class="dados-usuario left data-placement=left">
  <p class="nome">
    Olá <%= link_to @current_user.name, edit_user_path(@current_user) %> - <%= @current_user.profile %>
</p>
<p class="ultimo-acesso">
  <!-- Último acesso às 99:99 99/99/9999 -->
</p>
</div>

