<div class="busca left">
  <form id="" action="" method="">
    <fieldset>
      <input type="text" readonly=true id="" name="q" class="busca-header" onfocus="if(this.value=='PORTAL DE VARIAVEIS')this.value='';" onblur="if(this.value=='')this.value='PORTAL DE VARIAVEIS';" value="PORTAL DE VARIAVEIS" tabindex="1" />
      <input type="submit" value="" class="busca-lupa" title="search" />
    </fieldset>
  </form>
</div>