<div class="busca left">
  <form id="" action="" method="">
    <fieldset>
      <input type="text" id="" name="q" class="busca-header" onfocus="if(this.value=='O que você procura?')this.value='';" onblur="if(this.value=='')this.value='O que você procura?';" value="O que você procura?" tabindex="1" />
      <input type="submit" value="" class="busca-lupa" title="search" />
    </fieldset>
  </form>
</div>