<div class="ico-configuracoes left">
  <a href="javascript:;" title="Acessar configurações"><span class="ico-config"></span></a>
  <div class="content-config hide">
    <span class="seta-msg"></span>
    <ul>
      <li><%= link_to "Configurações", users_path %></li>
    </ul>
  </div>
</div>
